.button{
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  width: 7.5rem;
  height: 3rem;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2.625rem;
  color: #000000;
  &:hover{
    background: #D9D9D9;
  }
  &:active{
    background: #C4C4C4;
  }
  &.save{
    border: 1px solid #3F94F9;
    &:hover{
      background: #DAF1FE;
    }
    &:active{
      background: #84C5EA;
    }
  }
  &.originalReset, &.delete{
    border: 1px solid #EC0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    &:hover{
      background: #FFB7B7;
    }
    &:active{
      background: #FF4D4D;
    }
  }
  &[disabled]{
    cursor: not-allowed;
    font-weight: 700;
    background: #EBEBEB;
    color: #C1C1C1;
    &:hover{
      background: #EBEBEB;
    }
  }
}

.secondary_button{
  width: 6.5rem;
  height: 2.375rem;
  display: block;
  color: #8FCDCC;
  border: 1px solid #9E9E9E;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.2rem;
  text-align: center;
  background: transparent;
  border-radius: 5px;
  &.synButton{
      background: rgba(143,205,204,.26);
    .text{
      display: flex;
      align-items: center;
    }
  }
  &:hover{
    border-color: rgba(158, 158, 158, 0.4);
  }
  &:active{
    color: #00FF94;
  }
  &.submit{
    background: rgba(143, 205, 204, 0.26);
  }
  &.reset{
    background-image: url("../image/svg/resetIcon.svg");
    background-position: left 1.5rem top 50%;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    padding-left: 2rem;
  }
  &.save{
    color: white;
    background: rgba(0, 208, 255, 0.26);
    &:hover{
      border: 1px solid rgba(63, 148, 249, 0.6);
    }
    &:active{
      color: #00FF94;;
    }
  }
  &.merge {
    background: rgba(143, 205, 204, 0.26);
    &:hover {
      border: 1px solid rgba(158, 158, 158, 0.4);
    }
  }
  &[disabled]{
    cursor: not-allowed;
    border-color: #000000;
    color: rgba(143, 205, 204, 0.26);
    background: transparent;
    font-weight: 700;
    &:hover{
      background: transparent;
    }
  }
}

.addButton {
    cursor: pointer;
    height: 2.7rem;
    width: 2.7rem;
    border: solid 0.45rem #00EAFF;
    border-radius: 50%;
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-align: center;
    color: #00EAFF;
}