.model{
    > .page1{
        width: 40rem;
        height: 23.125rem;
        > .head{
            height: 50%;
            width: 100%;
            background: linear-gradient(57.58deg, #00262F 53.44%, #495B7C 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .625rem .625rem 0 0;
            font-size: 2.125rem;
            line-height: 3.08rem;
            color: #FFFFFF;
        }
        > .body{
            background: #FFFFFF;
            width: 100%;
            height: 50%;
            border-radius: 0 0 .625rem .625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .text{
                text-align: center;
                line-height: 2.3rem;
            }
            > button{
                border-radius: .625rem;
                width: 13.125rem;
                height: 4.375rem;
                background: linear-gradient(57.58deg, #024A5B 53.44%, #495B7C 100%);
                box-shadow: 0 12px 36px rgb(73 91 124 / 48%);
                color: #FFFFFF;
                font-family: 'Noto Sans SC', sans-serif;
                font-size: 1.75rem;
                font-weight: 600;
                margin: 0 1.3125rem;
            }
        }
    }
    > .page2{
        width: 33.125rem;
        height: 34.375rem;
        > .head{
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background: linear-gradient(57.58deg, #00262F 53.44%, #495B7C 100%);
            border-radius: .625rem .625rem 0 0;
            font-size: 2.125rem;
            font-family: 'Noto Sans SC', sans-serif;
            img{
                height: 6rem;
            }
        }
        > .body{
            height: 60%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border-radius: 0 0 .625rem .625rem;
            color: #8D97AD;
            font-size: 1.5rem;
            padding: 0 4rem;
            .text{
                text-align: center;
                line-height: 2.3rem;
            }
            > button{
                background: linear-gradient(57.58deg, #024A5B 53.44%, #495B7C 100%);
                box-shadow: 0 12px 36px rgb(73 91 124 / 48%);
                color: #FFFFFF;
                width: 13.125rem;
                height: 4.375rem;
                border-radius: .625rem;
                font-size: 1.75rem;
                margin-top: 2.8125rem;
                font-weight: 500;
            }
        }
    }
}