.arrow{
  width: 0.5125rem;
  height: 0.5125rem;
  border-top: 0.25rem solid rgba(143, 205, 204, 0.26);
  border-right: 0.25rem solid rgba(143, 205, 204, 0.26);
  &.active{
    border-top: 0.25rem solid #8D97AD;
    border-right: 0.25rem solid #8D97AD;
  }
  &.up{
    transform: rotate(-45deg);
  }
  &.right{
    transform: rotate(45deg);
  }
  &.down{
    transform: rotate(135deg);
  }
  &.left{
    transform: rotate(-135deg);
  }
}